parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:arrayNode\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/LingodaAiBundle.php
